<div class="limiter">
  <div class="container-login100" style="background-image: url(../assets/img/inicio/bg-01.jpg)">
    <div class="wrap-login100">
      <form class="login100-form validate-form">

        <span class="login100-form-title mb-4">
          Inicio de Sesión
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Ingrese su correo">
          <i class="la la-envelope-o"></i>
          <input class="input100" type="text" name="username" placeholder="Ingrese su correo">
        </div>
        <div class="wrap-input100 validate-input" data-validate="Ingrese su contraseña">
          <i class="la la-lock"></i>
          <input class="input100" type="password" name="pass" placeholder="Ingrese su contraseña">
        </div>

        <div class="contact100-form-checkbox">
          <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
          <label class="label-checkbox100" for="ckb1">
            Recordar contraseña
          </label>
        </div>

        <div class="container-login100-form-btn mb-4">
          <a class="login100-form-btn" routerLink="/dashboard/principal">
            INGRESAR
          </a>
        </div>
        <div class="text-center p-t-90">
          <a class="txt1" href="#">
            Olvido su contraseña?
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
