<div class="limiter">
  <div class="container-login100" style="background-image: url(../assets/img/inicio/bg-01.jpg)">
    <div class="wrap-login100">
      <form class="login100-form validate-form"
      autocomplete="off"
      [formGroup]="miFormulario" (ngSubmit)="login()">

        <span class="login100-form-title mb-4">
          Inicio de Sesión
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Ingrese su usuario">
          <i class="la la-envelope-o"></i>
          <input class="input100" type="text"
          formControlName="username"
          placeholder="Ingrese su correo">
        </div>
        <div class="wrap-input100 validate-input" data-validate="Ingrese su contraseña">
          <i class="la la-lock"></i>
          <input class="input100" type="password" formControlName="password" placeholder="Ingrese su contraseña">
        </div>

        <div class="container-login100-form-btn mb-4">
          <button class="login100-form-btn"
          [disabled]="miFormulario.invalid"
          type="submit">
            INGRESAR
          </button>
        </div>
        <div class="text-center p-t-90">
          <a class="txt1" href="#">
            Recordar contraseña
          </a>
        </div>
        <hr class="my-2">
        <div class="text-center p-t-90">
          <a class="txt1" routerLink="/auth/registro">
            Registrar nuevo paciente
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
