<div class="sidebar">
  <div class="scrollbar-inner sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="assets/img/profile.jpg">
      </div>
      <div class="info">
        <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
          <span>
            Denis Yeyson
            <span class="user-level">Administrador</span>
            <span class="caret"></span>
          </span>
        </a>
        <div class="clearfix"></div>
        <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
          <ul class="nav">
            <li>
              <a href="#profile">
                <span class="link-collapse">Mi Perfil</span>
              </a>
            </li>
            <li>
              <a href="#edit">
                <span class="link-collapse">Editar Perfil</span>
              </a>
            </li>
            <li>
              <a href="#settings">
                <span class="link-collapse">Configuraciones</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/dashboard/principal">
          <i class="la la-home"></i>
          <p>Principal</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/dashboard/medicos">
          <i class="la la-user-md"></i>
          <p>Medicos</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/dashboard/pacientes">
          <i class="la la-users"></i>
          <p>Pacientes</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/dashboard/citas">
          <i class="la la-calendar"></i>
          <p>Citas</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/dashboard/especialidades">
          <i class="la la-check-circle"></i>
          <p>Especialidades</p>
        </a>
      </li>
    </ul>
  </div>
</div>
