<div class="sidebar">
  <div class="scrollbar-inner sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="assets/img/profile.jpg">
      </div>
      <div class="info">
        <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
          <span>
            {{usuario.nombres +' '+usuario.apellidos}}
            <span class="user-level">{{rol}}</span>
            <span class="caret"></span>
          </span>
        </a>

        <div class="clearfix"></div>
        <div class="collapse in" id="collapseExample" aria-expanded="true">
          <ul class="nav">
            <li>
              <a href="#profile">
                <span class="link-collapse">Mi Perfil</span>
              </a>
            </li>
            <li>
              <a href="#edit">
                <span class="link-collapse">Editar Perfil</span>
              </a>
            </li>
            <li>
              <a (click)="logout()" style="cursor:pointer;">
                <span class="link-collapse">Cerrar Sesión</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/dashboard/home">
          <i class="la la-home"></i>
          <p>Principal</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="listar_medicos">
        <a routerLink="/dashboard/medicos">
          <i class="la la-user-md"></i>
          <p>Listar Medicos</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="nuevo_medico">
        <a routerLink="/dashboard/new_medicos">
          <i class="la la-user-md"></i>
          <p>Nuevo Medico</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="listar_pacientes">
        <a routerLink="/dashboard/pacientes">
          <i class="la la-users"></i>
          <p>Listar Pacientes</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active"  *ngIf="agendar_citas">
        <a routerLink="/dashboard/citas">
          <i class="la la-calendar"></i>
          <p>Agendar Citas</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="programar_citas">
        <a routerLink="/dashboard/programacion_citas">
          <i class="la la-calendar"></i>
          <p>Programar Citas</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="reporte_citas">
        <a routerLink="/dashboard/reporte_citas">
          <i class="la la-calendar"></i>
          <p>Reporte Citas</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="historial_citas">
        <a routerLink="/dashboard/historial_citas">
          <i class="la la-calendar"></i>
          <p>Historial Citas</p>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="usuarios_link">
        <a routerLink="/dashboard/usuarios">
          <i class="la la-calendar"></i>
          <p>Usuarios</p>
        </a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active" *ngIf="especialidades">
        <a routerLink="/dashboard/especialidades">
          <i class="la la-check-circle"></i>
          <p>Especialidades</p>
        </a>
      </li> -->
    </ul>
  </div>
</div>
