<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex">
        <div class="card-title">Lista de Medicos</div>
        <a routerLink="/dashboard/new_medicos" class="btn btn-primary ml-auto">+ Agregar Medico</a>

      </div>
      <div class="card-body">
        <table datatable class="table table-hover table-responsive">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">DNI</th>
              <th scope="col">Correo</th>
              <th scope="col">Dirección</th>
              <th scope="col">Fecha Nacimiento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medico of medicos">
              <th scope="row">{{ medico.idMedico }}</th>
              <td>{{ medico.nombres }}</td>
              <td>{{ medico.apellidos }}</td>
              <td>{{ medico.dni }}</td>
              <td>{{ medico.correo }}</td>
              <td>{{ medico.direccion }}</td>
              <td>{{ medico.fechaNacimiento }}</td>
              <!-- <td class="d-flex justify-content-end">
                <a href="" class="btn btn-primary mr-2"
                  ><li class="la la-edit"></li
                ></a>
                <a href="" class="btn btn-danger mr-2"
                  ><li class="la la-trash"></li
                ></a>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
